body{
    background-image:url("bubbles.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header img{
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}

#social{
    float: right;
    margin-right: 50px;
}

strong{
    text-decoration-line: underline;
    font-size: 22px;
}

#head-background{
    background-color: rgb(241, 241, 241);
    padding: 10px 10px 70px 10px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

#head-background ul{
    font-size: 20px;
}

.headerTxt{
    padding-left: 50px;
}

.mail{
    padding-left: 35px;
}

.phone{
    padding-left: 26px;
}
.facebook{
    padding-left: 20px;
}

h1{
    margin-top: 10px;
    font-size: 33px;
    text-align: center;
}


.top-menu-bar{
    background-color:black;
    text-align: center;
    font-family: Comic Impact;
    font-size: 18px;
}

.top-menu-bar li{
    display: inline-block;
}

.top-menu-bar a{
    text-decoration-line: underline;
    color: gray;
    padding: 10px;
    display: inline-block;
    font-family: 'Arial Narrow';
}

.top-menu-bar a:hover{
    color: black;
    background-color: whitesmoke;
}

.page{
    display: none;
    background-color: rgb(241, 241, 241);
    border: 2px solid black;
    float: center;
    padding: 10px 10px 10px 10px;
    margin-bottom: 8px;
    margin-right: 15px;
    font-family: Arial;
}

aside{
    float: left;
    width: 200px;
    padding: 5px;
    margin-left: 8px;
}

aside input{
    font-size: 15px;
}

section{
   margin-left: 230px;
}


.widget {
    margin-bottom: 5px;
    border-radius: 8px;
    background:whitesmoke;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color:black;
    box-shadow: 1px 1px 3px black;

}

.widget .header {
    background:black 15px center no-repeat;
    padding: 15px;
    text-align: left;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    text-transform: capitalize;
    cursor: pointer;
    font-family:'Arial';
}


.widget1 {
    margin-bottom: 5px;
    border-radius: 8px;
    background: aquamarine;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: aqua;
    box-shadow: 1px 1px 3px black;
}

.content{
    display: -webkit-inline-flex;
}